.webupload-con{
    width: 420px;
    /*margin: auto;*/
}

.webuploader-container {
    position: relative;
}

.webuploader-element-invisible {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}

.webuploader-pick {
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    border: 1px solid #dcdfe6;
    color: #606266;
    -webkit-appearance: none;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    margin: 0;
    transition: .1s;
    font-weight: 500;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;


    color: #fff;
    background-color: #409eff;
    border-color: #409eff;

    padding: 9px 15px;
    font-size: 12px;
    border-radius: 3px;
}

.webuploader-pick-hover {
    background: #1778ef;
}

.webuploader-pick-disable {
    opacity: 0.6;
    pointer-events: none;
}

.webuploader-container {
    /* display: inline-block; */
    /* line-height: 1.428571429; */
    /* vertical-align: middle; */
    /* margin: 0 12px 0 0; */
    /* position: relative; */
}

.webuploader-element-invisible {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}


.webuploader-pick-hover {
    background: #1778ef;
}

.webuploader-pick-disable {
    opacity: 0.6;
    pointer-events: none;
}

.uploader-list {
    width: 100%;
    overflow: hidden;
}

.uploader-list div {
    display: block !important;
}
.uploader-list .item:first-child{
    margin-top: 10px;
}
.uploader-list .item{
    transition: all .5s cubic-bezier(.55,0,.1,1);
    font-size: 14px;
    color: #606266;
    line-height: 1.8;
    margin-top: 5px;
    position: relative;
    box-sizing: border-box;
    border-radius: 4px;
    width: 100%;
}

.item .webuploadinfo{
    color: #606266;
    display: block;
    margin-right: 40px;
    overflow: hidden;
    padding-left: 4px;
    text-overflow: ellipsis;
    transition: color .3s;
    white-space: nowrap;
}


.el-upload-list__item.is-success .el-upload-list__item-status-label {
    display: block;
}

.el-upload-list__item-status-label {
    position: absolute;
    right: 5px;
    top: 0;
    line-height: inherit;
    /* display: none; */
}.el-upload-list__item .el-icon-close {
     display: none;
     position: absolute;
     top: 5px;
     right: 5px;
     cursor: pointer;
     opacity: .75;
     color: #606266;
 }

.el-upload-list__item .el-icon-close-tip {
    display: none;
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 12px;
    cursor: pointer;
    opacity: 1;
    color: #409eff;
}

.el-upload-list__item .el-icon-upload-success {
    color: #67c23a;
}

[class*=" el-icon-"], [class^=el-icon-] {
    font-family: element-icons!important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: baseline;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.el-upload-list__item .el-icon-upload-success {
    color: #67c23a;
}

.el-upload-list__item .el-icon-upload-success {
    color: #67c23a;
}

.el-upload-list__item.is-success .el-upload-list__item-status-label {
    display: block;
}

.el-upload-list__item .el-icon-close:hover {
    opacity: 1;
}

.el-upload-list__item .el-icon-close {
    display: none;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    opacity: .75;
    color: #606266;
}

.el-icon-circle-check:before {
    content: "\e720";
}

.webuploadbtn {
    -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));
    background: -moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
    background: -webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
    background: -o-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
    background: -ms-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
    background: linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9', GradientType=0);
    background-color: #f9f9f9;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #666666;
    /*font-family:Arial;
    font-size:15px;*/
    font-weight: bold;
    padding: 6px 12px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
}

.webuploadbtn:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9));
    background: -moz-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
    background: -webkit-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
    background: -o-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
    background: -ms-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
    background: linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9', GradientType=0);
    background-color: #e9e9e9;
}

.webuploadbtn:active {
    position: relative;
    top: 1px;
}

.webuploadDelbtn, .webuploadDbtn {
    /*-moz-box-shadow:inset 0px 1px 0px 0px #f7c5c0;*/
    /*-webkit-box-shadow:inset 0px 1px 0px 0px #f7c5c0;*/
    /*box-shadow:inset 0px 1px 0px 0px #f7c5c0;*/
    /*background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fc8d83), color-stop(1, #e4685d));*/
    /*background:-moz-linear-gradient(top, #fc8d83 5%, #e4685d 100%);*/
    /*background:-webkit-linear-gradient(top, #fc8d83 5%, #e4685d 100%);*/
    /*background:-o-linear-gradient(top, #fc8d83 5%, #e4685d 100%);*/
    /*background:-ms-linear-gradient(top, #fc8d83 5%, #e4685d 100%);*/
    /*background:linear-gradient(to bottom, #fc8d83 5%, #e4685d 100%);*/
    /*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fc8d83', endColorstr='#e4685d',GradientType=0);*/
    /*-moz-border-radius:42px;*/
    /*-webkit-border-radius:42px;*/
    /*border-radius:42px;*/
    /*border:1px solid #d83526;*/
    /*background-color:#fc8d83;*/
    /*display:inline-block;*/
    /*cursor: pointer;*/
    /*color: #ffffff;*/
    /*font-family: Arial;*/
    /*font-size: 13px;*/
    /*font-weight: bold;*/
    /*padding: 0px 6px;*/
    /*text-decoration: none;*/
    /*text-shadow: 0px 1px 0px #b23e35;*/
    /* display: inline-block; */
    /* font-size: 13px; */
    /* cursor: pointer; */
    /* color: #e70012; */
    /* float: right; */
}

/*.webuploadDelbtn:hover,.webuploadDbtn:hover {*/
/*background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e4685d), color-stop(1, #fc8d83));*/
/*background:-moz-linear-gradient(top, #e4685d 5%, #fc8d83 100%);*/
/*background:-webkit-linear-gradient(top, #e4685d 5%, #fc8d83 100%);*/
/*background:-o-linear-gradient(top, #e4685d 5%, #fc8d83 100%);*/
/*background:-ms-linear-gradient(top, #e4685d 5%, #fc8d83 100%);*/
/*background:linear-gradient(to bottom, #e4685d 5%, #fc8d83 100%);*/
/*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e4685d', endColorstr='#fc8d83',GradientType=0);*/
/*background-color:#e4685d;*/
/*}*/
.webuploadDelbtn:active, .webuploadDbtn:active {
    position: relative;
    top: 1px;
}

.webuploadstate {
    font-family: "Microsoft YaHei" ! important;
    font-size: 10px;
    margin-left: 15px;
    margin-right: 15px;
}

.webuploadAllow {
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    color: #aaaaaa;
    display: block !important;
}

.progress {
    width: 100%;
    display: block;
    line-height: 14px;
    height: 14px;
    background-color: #ffffff;
    text-align: center;
    margin: 0;
    position: relative;
}

.progress .text {
    font-size: 12px;
    line-height: 17px;
    display: inline-block;
    z-index: 999;
    position: relative;
    color: #96cefd;
}

.progress .bar {
    height: 100%;
    display: inline-block;
    background-color: #17a0ef;
    position: absolute;
    left: 0;
}

.webuploadinfo {
    text-decoration: underline;
    cursor: pointer;
}

.webuploadinfodiv {
    position: relative;
}

.webuploadsize {
    color: #aaaaaa;
    font-size: 12px;
}
